<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ChatBot.Properties.Settings>
            <setting name="ColorFondo" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorPersona" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColorRobot" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
        </ChatBot.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChatBot.Properties.Settings>
            <setting name="EndPoint" serializeAs="String">
                <value>https://actividad5-1mibot.azurewebsites.net</value>
            </setting>
            <setting name="Id" serializeAs="String">
                <value>ea5121e2-c310-435d-88e2-0ea69bc6c54d</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>70be97b6-a339-4a21-96f1-c9810058032e</value>
            </setting>
        </ChatBot.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>